@using RELOCBS.Utility;
@using RELOCBS.Common;

@{
    ViewBag.Title = "WOS Service";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    string _PageID = "76";
    string param = "ServiceMastID=ParamValue0";

    bool hasAddAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.ADD);
    bool hasEditAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.EDIT);
    bool hasDeleteAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.DELETE);
}
<div class="col-md-12 no-padding m-t-sm">
    <div class="pnl-gridtop clearfix">
        <div class="clearfix pnl-filter">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @name = "CustomFilter", @id = "CustomFilter", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken();

                <div class="row">
                    <div class="form-group col-md-3 col-sm-3 filter-custom-margin">
                        <div class="clearfix">
                            <label>Service Name</label>
                            @Html.TextBox("ServiceName", null, new { @class = "form-control input-sm", id = "ServiceName", title = "Service Name", @tooltip = "Service Name", @placeholder = "Service Name" })
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-sm-2">
                        <div class="clearfix">
                            <input type="submit" id="btnSearch" name="Search" class="btn btn-default btn-sm m-l-n" value="Search" />
                        </div>
                    </div>
                    <a class="btn btn-default btn-sm lnkExportToExcel m-r-sm pull-right"><i class="fa fa-file-excel-o m-r-sm"></i>Export to Excel</a>
                    <div class="form-group col-md-1 col-sm-1 pull-right">
                        <div class="clearfix">
                            @Html.ActionLink("Add Service", "Create", new { Key = CommonService.GenerateQueryString(param, new string[] { "0" }) }, new { @class = "btn btn-primary btn-sm pull-right", @data_toggle = "modal", @data_target = "#mdlAddEdit", @data_cache = false, @title = "Add Service" })
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="mgrid">
            @Html.Partial("_GridPartial")
        </div>

        <div id="mdlAddEdit" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqunobtrusive")
    <script>
        function PagedOnCompleteBinds() {
            $(document).ready(function () {
                $('select').select2();
                $('.grid-header-title a').on('click', function (e) {
                    e.preventDefault();
                    var sturl = "@Url.Action("Index", "WOSService")" + $(this).attr('href');
                    $('form#CustomFilter').attr('action', sturl).submit();
                });

                $('#mgrid .pagination li a').on('click', function (e) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var sturl = $('#mgrid .sorted.grid-header-title a').attr('href');
                    if (typeof sturl != 'undefined') {
                        var gdir = url("?grid-dir", sturl);
                        sturl = sturl.replace(/grid-dir=\d+/i, 'grid-dir=' + (parseInt(gdir) == 0 ? 1 : 0));
                        sturl = sturl.replace('?', '&');
                    }

                    var sturl2 = $(this).attr('href');
                    if (sturl2 == undefined) {
                        sturl2 = "@Url.Action("Index", "WOSService")?page=" + parseInt($(this).html());
                    }

                    if (sturl) {

                        sturl = sturl2 + sturl.replace(/page=\d+/i, "");
                    }
                    else {
                        sturl = sturl2;
                    }

                    $('form#CustomFilter').attr('action', sturl).submit();
                });

                $('form.frmRWDelete').on('submit', function (e) {
                    e.preventDefault();
                    $frmRWDelete = this;
                    swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Delete",
                        cancelButtonText: "No",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $('#mgrid').mask("Loading...");
                                $($frmRWDelete).ajaxSubmit({
                                    success: function (data) {
                                        if (data.Success) {
                                            toastr.success("Service deleted successfully.");
                                            $('#mgrid .pagination li.active a').trigger('click');
                                        } else if (!data.Success) {
                                            swal({
                                                text: "Service delete failed.",
                                                type: "error"
                                            });
                                        }
                                        $('#mgrid').unmask();
                                    },
                                    complete: function () {
                                        $('#mgrid').unmask();
                                    }
                                });
                            } else {
                                swal("", "Service delete cancelled.", "error");
                            }
                        });
                });
                $('.lnkExportToExcel').on('click', function () {
                    var url = '@Url.Action("ExportToExcel", "WOSService", new { })';
                    window.location.href = url;
                });
            });
        }
        function PagedOnComplete(obj) {
            $('#mgrid table').unmask();
            PagedOnCompleteBinds();
        }
        $(document).ready(function () {
            PagedOnCompleteBinds();

            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });

            pageGrids.mainGrid.onRowSelect(function (e) {
                console.log($('#pnlGridTopActions #btnEdit, #pnlGridTopActions #btnDelete').length)
                $('#pnlGridTopActions #btnEdit, #pnlGridTopActions #btnDelete').removeAttr('disabled');
                $('#pnlGridTopActions #btnEdit').on('click', function (ev) {
                    ev.preventDefault();
                    $('#mgrid tr.grid-row.grid-row-selected').find('.btnEdit').click();
                });
                $('#pnlGridTopActions #btnDelete').on('click', function (ev) {
                    ev.preventDefault();
                    $('#mgrid tr.grid-row.grid-row-selected').find('.btnDelete').click();
                });
            });

            $('form#CustomFilter').on('submit', function (e) {
                e.preventDefault();
                $(this).ajaxSubmit({
                    target: '#mgrid',
                    success: function () {
                        PagedOnCompleteBinds();
                    }
                });
            });

            $('#btnReset').on('click', function (e) {
                e.preventDefault();
                $('form#CustomFilter').find("input[type=text], textarea").val("");
                $('form#CustomFilter').submit();
            });
        });
    </script>
}
