@using System.Security.Policy
@using GridMvc.Html
@using PagedList.Mvc;
@using PagedList;
@using RELOCBS.Utility;

@{

    ViewBag.Title = "Move";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string _PageID = "47";
    //bool hasAddAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.ADD);
    //bool hasEditAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.EDIT);
    //bool hasDeleteAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.DELETE);
    //bool RMCBuss = (bool)ViewBag.RMCBuss;
}
@*<div class="col-md-12 no-padding m-t-sm">*@
@*<div class="pnl-gridtop clearfix">*@
@*<div class="clearfix pnl-filter">*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { @name = "CustomFilter", @id = "CustomFilter", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <div class="m-t-sm">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="form-group">
                    <label>From Date</label>
                    <div class="input-group input-group-sm date" id="dtp_FromDate">
                        @Html.Editor("FromDate", new { htmlAttributes = new { @placeholder = "From Date", @tooltip = "From Date", @class = "form-control input-sm", title = "From Date", id = "FromDate" } })
                        <span class="input-group-addon" style="display: none">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2">
                <div class="form-group">
                    <label>To Date</label>
                    <div class="input-group input-group-sm date" id="dtp_ToDate">
                        @Html.Editor("ToDate", new { htmlAttributes = new { @placeholder = "To Date", @tooltip = "To Date", @class = "form-control input-sm", title = "To Date", id = "ToDate" } })
                        <span class="input-group-addon" style="display: none">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-1">
                <div class="clearfix">
                    <input type="submit" id="btnSearch" name="Search" class="btn btn-default btn-sm filter-custom-margin" value="Search" />
                </div>
            </div>
            <div class="form-group col-md-1">
                <div class="clearfix">
                    <a class="btn btn-default btn-sm lnkExportToExcel filter-custom-margin pull-right"><i class="fa fa-file-excel-o m-r-sm"></i>Export to Excel</a>
                </div>
            </div>

        </div>
    </div>
}
@*</div>*@
<div id="mgrid">
    @Html.Partial("_ExportSunGrid")
</div>
@*</div>*@

<div id="mdlAddEdit" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@*</div>*@


@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqunobtrusive")
    <script type="text/javascript">
        $(document).ready(function () {

            $('#FromDate').on('focus', function () {
                $(this).siblings('.input-group-addon').click();
            });

            $('#ToDate').on('focus', function () {
                $(this).siblings('.input-group-addon').click();
            });

            $('#dtp_FromDate').datetimepicker({
                format: "DD-MMM-YYYY",
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });

            $('#dtp_ToDate').datetimepicker({
                format: "DD-MMM-YYYY",
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });


        });

        /////search form data
        function PagedOnCompleteBinds() {
            $(document).ready(function () {
                $('select').select2();
                $('.grid-header-title a').on('click', function (e) {
                    e.preventDefault();
                    var sturl = "@Url.Action("ExportSunIndex", "MoveManage")" + $(this).attr('href');
                    $('form#CustomFilter').attr('action', sturl).submit();
                });

                $('#mgrid .pagination li a').on('click', function (e) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var sturl = $('#mgrid .sorted.grid-header-title a').attr('href');
                    if (typeof sturl != 'undefined') {
                        var gdir = url("?grid-dir", sturl);
                        sturl = sturl.replace(/grid-dir=\d+/i, 'grid-dir=' + (parseInt(gdir) == 0 ? 1 : 0));
                        sturl = sturl.replace('?', '&');
                    }

                    var sturl2 = $(this).attr('href');
                    if (sturl2 == undefined) {
                        sturl2 = "@Url.Action("ExportSunIndex", "MoveManage")?page=" + parseInt($(this).html());
                    }
                    sturl = sturl2 + sturl.replace(/page=\d+/i, "");
                    $('form#CustomFilter').attr('action', sturl).submit();
                });

                $('form.frmRWDelete').on('submit', function (e) {
                    e.preventDefault();
                    $frmRWDelete = this;
                    swal({
                        title: "Are you sure you want to delete this record?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Delete",
                        cancelButtonText: "No",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#mgrid').mask("Loading...");
                            $($frmRWDelete).ajaxSubmit({
                                success: function (data) {
                                    if (data.Success) {
                                        toastr.success("Job deleted successfully.");
                                    $('#mgrid .pagination li.active a').trigger('click');
                                    } else if (!data.Success) {
                                        swal({
                                            text: "Job Delete Failed.",
                                            type: "error"
                                        });
                                    }
                                    $('#mgrid').unmask();
                                },
                                complete: function () {
                                    $('#mgrid').unmask();
                                }
                            });
                        } else {
                            swal("", "Job Delete Cancelled.", "error");
                        }
                    });
                });
                $('.lnkExportToExcel').on('click', function () {
                    
                    var FromDate = $('#FromDate').val();
                    var ToDate = $('#ToDate').val()
                    var url = '@Url.Action("ExportSunToExcel", "MoveManage", new { FromDate = "-100", ToDate = "-101" })';
                    //window.location.href = url;
                    url = url.replace("-100", FromDate);
                    url = url.replace("-101", ToDate);
                    url = url.replace(/&amp;/g, "&");
                    window.location.href = url;
                });
            });
        }

        function PagedOnComplete(obj) {
            $('#mgrid table').unmask();
            PagedOnCompleteBinds();
        }

        $(document).ready(function () {
            PagedOnCompleteBinds();

            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });

            pageGrids.mainGrid.onRowSelect(function (e) {
                console.log($('#pnlGridTopActions #btnEdit, #pnlGridTopActions #btnDelete').length)
                $('#pnlGridTopActions #btnEdit, #pnlGridTopActions #btnDelete').removeAttr('disabled');
                $('#pnlGridTopActions #btnEdit').on('click', function (ev) {
                    ev.preventDefault();
                    $('#mgrid tr.grid-row.grid-row-selected').find('.btnEdit').click();
                });
                $('#pnlGridTopActions #btnDelete').on('click', function (ev) {
                    ev.preventDefault();
                    $('#mgrid tr.grid-row.grid-row-selected').find('.btnDelete').click();
                });
            });

            $('form#CustomFilter').on('submit', function (e) {
                e.preventDefault();
                $(this).ajaxSubmit({
                    target: '#mgrid',
                    success: function () {
                        PagedOnCompleteBinds();
                    }
                });
            });

            //$('#btnReset').on('click', function (e) {
            //    e.preventDefault();
            //    $('form#CustomFilter').find("input[type=text], textarea").val("");
            //    $('form#CustomFilter').submit();
            //});
        });
    </script>
}
