@using RELOCBS.Utility;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _PageID = "87";
    bool hasAddAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.ADD);
    bool hasEditAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.EDIT);
    bool hasDeleteAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.DELETE);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @name = "CustomFilter", @id = "CustomFilter" }))
{

    @Html.AntiForgeryToken()
    <div class="col-md-12 col-sm-12 well well-sm">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label>From Date</label>
                    <div class="input-group input-group-sm date" id="dtp_FromDate">
                        @Html.Editor("FromDate", new { htmlAttributes = new { id = "FromDate", @class = "form-control input-sm datepicker onkeydtp", @placeholder = "From Date", @tooltip = "From Date", title = "From Date" } })
                        <span class="input-group-addon" style="display: none">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label>To Date</label>
                    <div class="input-group input-group-sm date" id="dtp_ToDate">
                        @Html.Editor("ToDate", new { htmlAttributes = new { id = "ToDate", @class = "form-control input-sm datepicker onkeydtp", @placeholder = "To Date", @tooltip = "To Date", title = "To Date" } })
                        <span class="input-group-addon" style="display: none">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label>Job No</label>
                    @Html.Editor("JobID", new { htmlAttributes = new { id = "JobID", @class = "form-control input-sm", @placeholder = "Job No", @tooltip = "Job No", title = "Job No" } })
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group">
                    <label>Ref Job ID</label>
                    @Html.Editor("RefJobID", new { htmlAttributes = new { id = "RefJobID", @class = "form-control input-sm", @placeholder = "Ref Job ID", @tooltip = "Ref Job ID", title = "Ref Job ID" } })
                </div>
            </div>
            <div class="form-group col-md-1 col-sm-1">
                <div class="clearfix">
                    <input type="submit" id="btnSearch" name="Search" class="btn btn-default btn-sm filter-custom-margin" value="Search" />
                </div>
            </div>
            <div class="form-group col-md-1 col-sm-1 pull-right">
                <div class="clearfix">
                    <a id="btnCreate" name="Create" class="btn btn-primary m-t-sm m-b-sm m-r-sm btn-sm filter-custom-margin pull-right" value="Create" formnovalidate="formnovalidate"
                       href="@Url.Action("Create", "WHAssetManagement", new { MoveID = 0 })" title="Create">Create</a>
                </div>
            </div>
        </div>
    </div>
}
<div id="mgrid">
    @Html.Partial("_AjaxPartial")
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FromDate').datetimepicker({
                defaultDate: new Date().setMonth(new Date().getMonth() - 2),
                format: "DD-MMM-YYYY",
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });
            $('#ToDate').datetimepicker({
                defaultDate: new Date(),
                format: "DD-MMM-YYYY",
                widgetPositioning: {
                    horizontal: 'right',
                    vertical: 'bottom'
                }
            });

            OnCompleteBindPage();
            $('form#CustomFilter').on('submit', function (e) {
                e.preventDefault();
                $(this).ajaxSubmit({
                    target: '#mgrid',
                    success: function () {
                        OnCompleteBindPage();
                    }
                });
            });
        });
    function OnCompleteBindPage() {
        $('.grid-header-title a').on('click', function (e) {
            e.preventDefault();
            var url1 = "@Url.Action("Index", "WHAssetManagement")" + $(this).attr('href');
            $('form#CustomFilter').attr('action', url1).submit();
        });
        $('#mgrid .pagination li a').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            var url1 = $('#mgrid .sorted.grid-header-title a').attr('href');
            if (typeof url1 != 'undefined') {
                var gdir = url("?grid-dir", url1);
                var gcol = url("?grid-column", url1);
                url1 = url1.replace(/grid-dir=\d+/i, 'grid-dir=' + (parseInt(gdir) == 0) ? 1 : 0);
                url1 = url1.replace('?', '&');
            }

            var url2 = $(this).attr('href');
            if (url2 == undefined) {
                url2 = "@Url.Action("Index", "WHAssetManagement")?page=" + parseInt($(this).html());
            }
            url1 = url2 + url1.replace(/page=\d+/i, "");
            $('form#CustomFilter').attr('action', url1).submit();
        });
    }
    </script>
}
