@using RELOCBS.Utility;
@using System.Data;
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html

@model RELOCBS.Entities.QuotingViewModel

@{
    ViewBag.Title = "Quotation";

    string _PageID = "9";
    bool hasAddAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.ADD);
    bool hasEditAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.EDIT);
    bool hasDeleteAccess = UserSession.HasPermission(_PageID, EnumUtility.PageAction.DELETE);

}
<style type="text/css">
    .font-weight-bold
    {
        font-weight:bold;
    }
</style>
<div class="m-t-sm">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(a => a.SurveyID)
    @Html.HiddenFor(a => a.RateCompRateWtID)
    @Html.HiddenFor(a => a.RateCompRateWtBatchID)
    @Html.HiddenFor(a => a.HFVQuotingList)

    <div class="row">
        @if (Model.SurveyID != null && Model.SurveyID > 0)
        {
            <div class="col-sm-3 col-md-3 ">
                <div class="form-group">
                    <strong>Survey No. :</strong>&nbsp;<strong>@Model.SurveyID</strong>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <strong>Enquiry No :</strong> &nbsp;<strong>@Model.EnqID / @Model.EnqDetailID</strong>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-7 col-md-7">
                <div class="form-group">
                    <label> </label>
                </div>
            </div>
        }
        <div class="col-sm-5 col-md-5">
            <div class="form-group">
                <input type="button" id="btnClearFields" class="btn btn-default m-t-sm m-b-sm  m-r-sm btn-sm  pull-right hidden" value="Clear Data" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>RMC :</strong></label>
                <label>@Model.RMCName</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Business Line :</strong></label>
                <label>@Model.BusinessLineName</label>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label><strong>Goods Description :</strong></label>
                <label>@Model.GoodsDescriptionName</label>
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="form-group">
                <label><strong>Mode :</strong></label>
                <label>@Model.ModeName</label>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>From City :</strong></label>
                <label>@Model.FromLocationName</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Exit Port :</strong></label>
                <label>@Model.ExitPointName</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Entry Port :</strong></label>
                <label>@Model.EntryPointName</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>To City :</strong></label>
                <label>@Model.ToLocationName</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Weight/Volume :</strong></label>
                <label>@Model.WeightUnitName</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Weight From : </strong></label>
                <label>@Model.WeightUnitFrom</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Weight To : </strong></label>
                <label>@Model.WeightUnitTo</label>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <label><strong>Shipping Lines : </strong></label>
                <label>@Model.ShipingLineName</label>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-2 col-sm-2">
            <label>Org.Estimate</label>
            <input type="number" class="form-control input-sm font-weight-bold" id="txtOriginEstimateDetail" placeholder="Origin Estimate" disabled />
        </div>
        <div class="col-sm-2 col-sm-2">
            <label>Frg.Estimate</label>
            <input type="number" class="form-control input-sm font-weight-bold" id="txtFrightEstimateDetail" placeholder="Freight Estimate" disabled />
        </div>
        <div class="col-sm-2 col-sm-2">
            <label>Dest.Estimate</label>
            <input type="number" class="form-control input-sm font-weight-bold" id="txtDestinationEstimateDetail" placeholder="Destination Estimate" disabled />
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="form-group">
                <label>NetEstimate</label>
                <input type="number" class="form-control input-sm font-weight-bold" id="txtNetEstimateDetail" disabled />
            </div>
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-sm-2 col-sm-2">
            <label>Org.Gross</label>
            <input type="number" class="form-control input-sm font-weight-bold" id="txtOriginQuoteDetail" placeholder="Origin Estimate" disabled />
        </div>
        <div class="col-sm-2 col-sm-2">
            <label>Frg.Gross</label>
            <input type="number" class="form-control input-sm font-weight-bold" id="txtFrightQuoteDetail" placeholder="Freight Estimate" disabled />
        </div>
        <div class="col-sm-2 col-sm-2">
            <label>Dest.Gross</label>
            <input type="number" class="form-control input-sm font-weight-bold" id="txtDestinationQuoteDetail" placeholder="Destination Estimate" disabled />
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="form-group">
                <label>Gross Amount</label>
                <input type="number" class="form-control input-sm font-weight-bold" id="txtNetQuoteDetail" disabled />
            </div>
        </div>
    </div>

</div>
<div>
    <div class="row" id="divCostHead">
        @try
        {

            <div class="col-sm-12">
                <div class="table-responsive" id="pnl-rates">

                    <table class="table table-striped fixedModal_header" id="CostHeadtableDetail">
                        <thead class="ibox-title">
                            <tr>
                                <th>Agent</th>
                                <th>Rate Componet</th>
                                <th>CostHead</th>
                                <th>Transit Time</th>
                                <th>Base Currency</th>
                                <th>Rate Currency</th>
                                <th>Conversion Rate</th>
                                <th>Estimate</th>
                                <th>Base.Estimate</th>
                                <th>GP %</th>
                                <th>GP Amount</th>
                                <th>Gross Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (RELOCBS.Entities.QuotingCostHeadDetail row in Model.CostHeadList)
                            {
                            <tr>
                                <td class="tdAgent">
                                    @row.AgentName
                                </td>
                                <td class="tdRateComponent">
                                    @row.RateComponentName
                                </td>
                                <td class="tdCostHead">
                                    @row.CostHeadName
                                </td>
                                <td class="tdTransitTime">
                                    From: @row.TransitTimeFrom
                                    To : @row.TransitTimeTo
                                </td>
                                <td class="tdBaseCurrencyRate">
                                    @row.BaseCurrencyRateName
                                </td>
                                <td class="tdRateCurrency">
                                    @row.RateCurrencyName
                                </td>
                                <td class="tdConversionRate">
                                    @row.ConversionRate
                                </td>
                                <td class="BaseAmount">
                                    @row.BaseAmount
                                </td>
                                <td class="tdAmount">
                                    @row.Amount
                                </td>
                                <td class="tdAmtPercent">
                                    @row.QuotePercent
                                </td>
                                <td class="tdAmtPercentValue">
                                    @row.QuotePercentAmount
                                </td>
                                <td class="tdTotalAmount">
                                    @row.TotalAmount
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        }
        catch { }
    </div>
</div>
