@model RELOCBS.Entities.Port

@{
    //Layout = null;
    ViewBag.Title = "New Sea Port";

    if (Model.AirorSea == "A")
    {
        ViewBag.Title = "New Air Port";
    }

    var PortNameLable = "Port Name";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
@using (Html.BeginForm("Create", "Port", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AirorSea)
    @Html.HiddenFor(model => model.ModeID)
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.PortCode, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PortCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        @Html.ValidationMessageFor(model => model.PortCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-md-offset-2">@PortNameLable</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PortName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        @Html.ValidationMessageFor(model => model.PortName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <lable class="control-label col-md-3 col-md-offset-2">Country</lable>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.CountryID, new SelectList((System.Collections.IEnumerable)ViewData["Country"], "Value", "Text"), "--Select Country--", new { @class = "form-control input-sm clearfix enableselect" })
                        @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <lable class="control-label col-md-3 col-md-offset-2">City</lable>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.CityID, new SelectList((System.Collections.IEnumerable)ViewData["City"], "Value", "Text"), "--Select City--", new { @class = "form-control input-sm clearfix enableselect" })
                        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2">
                        <div class="col-md-5">
                            @Html.CheckBoxFor(model => model.Isactive, new { htmlAttributes = new { @class = "form-control input-sm" } }) Active
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <input type="submit" value="Save" class="btn btn-primary btn-sm" id="btnCreate" />
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $("[data-val-required]").each(function () {
            $("label[for=" + this.id + "]").addClass("requiredlabel")
        });

        $('.enableselect').select2();
        AjaxFillDropDown('select#CityID', "@Url.Action("GetCityList", "Port")");
    });
</script>
<script>
    $(document).ready(function () {

        $("input").attr("autocomplete", "off");



        var form = $("#mdlAddEdit form");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);


        $('#mdlAddEdit').on('shown.bs.modal', function () {
            $('#CountryID').focus();
        });

        $('body').on('change', '#CountryID', function (e) {
            var CountryID = $(this).val();
            $("select#CityID").empty();
            $('#CityID').append($('<option>', {
                value: 0,
                text: 'Select City'
            }));
            $.ajax({
                url: "@Url.Action("GetCity", "Combo")?CountryID=" + CountryID,
                success: function (data) {
                    var data = $.map(data, function (obj) {
                        obj.text = obj.text || obj.Text;
                        obj.id = obj.id || obj.Value;
                        return obj;
                    });
                    $('select#CityID').select2({ data: data });
                }
            });
        });


        AutoDropFill();
        $('#mdlAddEdit form').on('submit', function (e) {
            e.preventDefault();
            if (!$(this).valid()) { return; }

            $('#mdlAddEdit .modal-content').mask("Loading...");
            $(this).ajaxSubmit({
                target: '#mdlAddEdit .modal-content',
                success: function (data) {
                    debugger;
                    $('#mdlAddEdit .modal-content').html(data.Result);
                    if (data.Success) {

                        debugger; 

                        $('#mgrid .pagination li.active a').trigger('click');
                        toastr.success("Port saved successfully.");
                        $('#mdlAddEdit').modal('hide');
                    }
                    $('#mdlAddEdit .modal-content').unmask();
                }
            });
        });
        function AutoDropFill() {
            var returnResult = [];
            var seaair = '@Model.AirorSea';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("GetAutoPopulateList", "Port")",
                method: 'GET',
            async: 'false',
            dataType: 'json',
                data: { 'SeaOrAir': seaair },
            success: function (result) {
                var data = $.map(result, function (obj) {
                    obj.value = obj.Text; // desired field
                    obj.data = obj.Value; // desired field
                    returnResult.push(obj);
                    $("#PortName").autocomplete({
                        lookup: returnResult
                    });

                });
            },
            error: function () { }
        });
    }

    });

</script>