@using System.Security.Policy
@using GridMvc.Html
@using PagedList.Mvc;
@using PagedList;

<div class="col-md-12 no-padding m-t-sm">
    <div class="pnl-gridtop clearfix">
        <div class="clearfix pnl-filter">
            @Html.Partial("_SearchForm")
        </div>
        <div id="mgrid">
            @Html.Partial("_AjaxPartial")
        </div>
    </div>

    <div id="mdlAddEdit" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqunobtrusive")
    <script>
        function PagedOnCompleteBinds() {
            $(document).ready(function () {
                $('select').select2();
                $('.grid-header-title a').on('click', function (e) {
                    e.preventDefault();
                    var sturl = "@Url.Action("Index", "State")" + $(this).attr('href');
                    $('form#CustomFilter').attr('action', sturl).submit();
                });

                $('#mgrid .pagination li a').on('click', function (e) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var sturl = $('#mgrid .sorted.grid-header-title a').attr('href');
                    if (typeof sturl != 'undefined') {
                        var gdir = url("?grid-dir", sturl);
                        sturl = sturl.replace(/grid-dir=\d+/i, 'grid-dir=' + (parseInt(gdir) == 0 ? 1 : 0));
                        sturl = sturl.replace('?', '&');
                    }

                    var sturl2 = $(this).attr('href');
                    if (sturl2 == undefined) {
                        sturl2 = "@Url.Action("Index", "State")?page=" + parseInt($(this).html());
                    }

                    if (sturl) {

                        sturl = sturl2 + sturl.replace(/page=\d+/i, "");
                    }
                    else {

                        sturl = sturl2;
                    }

                    $('form#CustomFilter').attr('action', sturl).submit();
                });

                $('form.frmRWDelete').on('submit', function (e) {
                    e.preventDefault();
                    $frmRWDelete = this;
                    swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Delete",
                        cancelButtonText: "No",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#mgrid').mask("Loading...");
                            $($frmRWDelete).ajaxSubmit({
                                success: function (data) {
                                    if (data.Success) {
                                    toastr.success("State deleted successfully.");
                                    $('#mgrid .pagination li.active a').trigger('click');
                                    } else if (!data.Success) {
                                        swal({
                                            text: "State Delete Failed.",
                                            type: "error"
                                        });
                                    }
                                    $('#mgrid').unmask();
                                },
                                complete: function () {
                                    $('#mgrid').unmask();
                                }
                            });
                        } else {
                            swal("", "State Delete Cancelled.", "error");
                        }
                    });
                });
                $('.lnkExportToExcel').on('click', function () {
                    var url = '@Url.Action("ExportToExcel", "State", new { })';
                    window.location.href = url;
                });
            });
        }

        function PagedOnComplete(obj) {
            $('#mgrid table').unmask();
            PagedOnCompleteBinds();
        }

        $(document).ready(function () {
            PagedOnCompleteBinds();

            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });

            pageGrids.mainGrid.onRowSelect(function (e) {

                $('#pnlGridTopActions #btnEdit, #pnlGridTopActions #btnDelete').removeAttr('disabled');
                $('#pnlGridTopActions #btnEdit').on('click', function (ev) {
                    ev.preventDefault();
                    $('#mgrid tr.grid-row.grid-row-selected').find('.btnEdit').click();
                });
                $('#pnlGridTopActions #btnDelete').on('click', function (ev) {
                    ev.preventDefault();
                    $('#mgrid tr.grid-row.grid-row-selected').find('.btnDelete').click();
                });
            });

            $('form#CustomFilter').on('submit', function (e) {
                e.preventDefault();
                $(this).ajaxSubmit({
                    target: '#mgrid',
                    success: function () {
                        PagedOnCompleteBinds();
                    }
                });
            });

            $('#btnReset').on('click', function (e) {
                e.preventDefault();
                $('form#CustomFilter').find("input[type=text], textarea").val("");
                $('form#CustomFilter').submit();
            });
        });
    </script>
}